<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.name }}</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
                <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
                <link rel="stylesheet" href="css/clear.css"/>
                <script src="js/require.js" data-main="js/app"></script>
                <script src="js/config.js" data-main="js/app"></script>
                <script src="js/skel.min.js" data-main="js/app"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
