p, h1, h2, button {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.3em;
}

p {
    line-height: 20px;
}

h1 {
    font-weight: bolder;
}

body {
    background-color: #99ffcc;
}

#main {
    background-color: #fefefe;
    background-image: url('/ttk/images/monk.jpg');
    background-repeat: no-repeat;
    background-position: 75% 0;
    background-size: contain;
    padding: 0 0 35em 0;
    border-left: 10px solid #99ccff;
    border-right: 10px solid #99ccff;
    
}

#app {
    background-image: url('/ttk/images/tic-tac-koan.gif');
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 10px;
    -moz-border-image: url('/ttk/images/border.jpg') 4 repeat;
    -webkit-border-image: url('/ttk/images/border.jpg') 4 repeat;
    -o-border-image: url('/ttk/images/border.jpg') 4 repeat;
    border-image: url('/ttk/images/border.jpg') 4 repeat;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.05);
}


#board {
    margin: 25px 25px 25px 25px;
}

#board .col {
    float: left;
    width: 33%;
    
}
.ttk-dialog .ui-dialog-titlebar, .ttk-dialog .ui-dialog-titlebar-close {
    display: none;
}

.title, .menu, .ttk-dialog {
    background-color: #99ffff !important;
    text-align: center;
    padding: 10px !important;
    border-radius: 5px !important; 
    -moz-border-radius: 5px !important; 
    -webkit-border-radius: 5px !important;
    margin: 10px 10px 10px 0 !important;
}

.ttk-dialog .ui-dialog-buttonpane {
    border: none;
    text-align: center;
    background-color: #99ffff !important;
}

.button:hover {
   border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    border: 1px solid #99ffcc
}

.button, .ttk-dialog .ui-button { 
    text-align: center;
    font-family: Verdana, sans-serif;
    padding: 10px 0 10px 0;
    color: #cc99ff;
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    color: #000000;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #cc99ff 50%,
        #cc99ff 50%,
        #cc99ff 65%,
        #cc99ff);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #cc99ff),
        color-stop(0.50, #cc99ff),
        color-stop(0.65, #cc99ff),
        to(#cc99ff));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #fefefe;
    -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(204,153,255,0.6);
    -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(204,153,255,0.6);
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(204,153,255,0.6);
    text-shadow:
    0px -1px 3px rgba(255,255,255,0.8),
    0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
}

.hidden {
    display: none;
}

#history {
    height: 200px;
    overflow: auto;
}

.available:hover {
    border: 5px solid #99ffcc;
}

.cell {
    font-size: 100px;
    height: 150px;
    width: 150px;
    line-height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #fefefe;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    font-family: Verdana, sans-serif;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.05);
    cursor: pointer;
    border: 5px solid #fefefe;
}

.clear {
    clear: both;
}