---
title: Tic Tac Koan
description: an unbeatable tic tac toe game
layout: default
---
{% include header.html %}
<div id="main" class="container">
  <div id="app" class="row">
    <div class="9u">
      <div id="board">
        <div class="col">
          <div id="8" class="cell available"></div>
          <div id="3" class="cell available"></div>
          <div id="4" class="cell available"></div>
        </div>
        <div class="col">
          <div id="1" class="cell available"></div>
          <div id="5" class="cell available"></div>
          <div id="9" class="cell available"></div>
        </div>
        <div class="col">          
          <div id="6" class="cell available"></div>
          <div id="7" class="cell available"></div>
          <div id="2" class="cell available"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="3u">
      <div class="title">
        <h1>Tic Tac Koan</h1>
      </div>
      <div class="menu">
        <div id="go_first" class="button">Go First</div>
        <div id="go_second" class="button hidden">Go Second</div>
        <div id="start" class="button startover">Start</div>
        <div id="start_over" class="button hidden startover">Start Over</div>
      </div>
      <div class="menu">
        <h2>Move History</h2>
        <div id="history">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div id="win_dialog" class="startover">
  <p>Roshi wins!</p>
  <div class="button">Try again</div>
</div>
<div id="draw_dialog" class="startover">
  <p>It's a draw.</p>
  <div class="button">Try again</div>
</div>
